/ Manage parents page
!!!
%html{:lang => "en"}
  %head
  %title Children
  = favicon_link_tag 'favicon.ico'
  %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
  = stylesheet_link_tag    "application", media: :all
  = javascript_include_tag "application", media: "bootstrap.min"
  = csrf_meta_tags
  %body
    / Navigation
    %nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
      .container
        %a.navbar-brand{:href => "/"} Hope Valley Action Sports
        %ul.navbar-nav.ml-auto
          %li.nav-item
            %li{:id => "navbar-logout"}
              = link_to destroy_user_session_path, method: :delete, title: "Log out of the system" do
                = fa_icon 'sign-out', text: 'Log out'
    / Display the header
    = render "layouts/header"
    %section
      / Navigation Bar
      %nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom{:id => "nav-det"}
        .container
          %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
            %span.navbar-toggler-icon
          #navbarResponsive.collapse.navbar-collapse
            =render partial: 'pages/navbar'
      /End of Navigation
    / Section
    %section
      .container.align-items-center
        .row.align-items-center
          .col-md.mx-auto
            .p-4
            / Columns with names
            %h1 Listing All Parents
            .table-responsive
              %table#users-table.table.table-hover.table-striped.table-light
                %thead.thead-dark
                  %tr
                    %th Address
                    %th Postcode
                    %th Home number
                    %th Prime mobile
                    %th
                    %th
                    %th

                %tbody
                  / Information from database
                  - @parents.each do |parent|
                    %tr
                      %td= parent.address
                      %td= parent.postcode
                      %td= parent.home_number
                      %td= parent.prime_mobile
                      %td= link_to 'Show', parent, :class => "btn btn-outline-primary rounded-pill"
                      %td= link_to 'Edit', edit_parent_path(parent), :class => "btn btn-secondary rounded-pill"
                      %td= link_to 'Destroy', parent, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger rounded-pill"
              %br
      / End of section

/ Footer
= render "layouts/footer"
/ End of Footer
