/ All schedules page
!!!
%html{:lang => "en"}
  %head
  / Title
  %title Schedule
  = favicon_link_tag 'favicon.ico'
  / Link all the style and javascript files needed
  %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
  = stylesheet_link_tag    "application", media: :all
  = javascript_include_tag "application", media: "bootstrap.min"
  = csrf_meta_tags
  %body
    / Navigation bar, always fixed at the top of the page
    = render "top_navbar"
    / Display the header
    = render "layouts/header"
    %section
      / Navigation bar, only show the links to pages approved for each type of user
      =render partial: 'navbar_s'
      .container
        .col-md-offset-2.mx-auto
          / If a user is allowed to add a new schedule, this button will be displayed
          - if can? :new, Schedule
            %a.btn.btn-secondary.btn-xl.rounded-pill.mt-5#btn-user{:href => "schedules/new"} New Schedule
          / If the user is head admin can redirect to Edit Schedule
          - user_roles = current_user.nil? ? nil : current_user.roles.pluck(:role_name)
          - if Db_queries.check_list_user_roles_smart(user_roles, ['Head Admin'])
            %a.btn.btn-secondary.btn-xl.rounded-pill.mt-5#btn-user{:href => "/scheduleEdit"} Edit Schedule
          / Heading
          %h1.text-center Schedules
          / Creating a table
          - Db_queries.display_combined_schedule.each do |schedule|
            -# number = schedule.group_name.to_a
            .table-responsive
              %table#schedule-table.table.table-hover.table-striped.table-dark
                %thead.thead-light
                  / Columns with titles
                  %tr
                    %th Start date
                    %th Hour
                    / Location
                    %th Location
                    / Group name with the background color set as the name
                    / Iterate for each group in the schedule
                    - number = schedule.group_name
                    - number.each_with_index do |el, i|
                      %td{:style=> "background-color:  " + schedule.group_colour[i]}= schedule.group_name[i]
                %tbody
                  / For each schedule
                  %tr
                    / Start Time, day - month -year
                    %td= schedule.start_time.strftime("%d/%m/%Y")
                    / Start Time, hour - minutes
                    %td= schedule.start_time.strftime("%H:%M")
                    / Location
                    %td= schedule.location
                    / Session type
                    / Iterate for each group session in the schedule
                    - number = schedule.session
                    - number.each_with_index do |el, i|
                      %td= schedule.session[i]
              %br
              %br

          %br

/ Footer
= render "layouts/footer"
/ End of Footer
