/ Numbers Coaches page
/ Used to display all the phone numbers of all coaches from the club
!!!
%html{:lang => "en"}
  %head
  / Title
  %title Running Club
  = favicon_link_tag 'favicon.ico'
  / Link to all style and javascript files needed
  %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
  = stylesheet_link_tag    "application", media: :all
  = javascript_include_tag "application", media: "bootstrap.min"
  = csrf_meta_tags
  %body
    / Navigation, always fixed at the top of the page
    %nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
      .container
        / Brand
        %a.navbar-brand{:href => "/"} Hope Valley Action Sports
        / Log out button
        %ul.navbar-nav.ml-auto
          %li.nav-item
            %li{:id => "navbar-logout"}
              = link_to destroy_user_session_path, method: :delete, title: "Log out of the system" do
                = fa_icon 'sign-out', text: 'Log out'
    / End of Navigation
    / Display header
    = render "layouts/header"
    %section
      / Navigation Bar
      %nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom{:id => "nav-det"}
        .container
          %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
            %span.navbar-toggler-icon
          #navbarResponsive.collapse.navbar-collapse
            / Only display the links to pages that are approved for each type of user
            =render partial: 'navbar'
      / End of Navigation Bar
    / Section with Numbers of Coaches
    %section
      .container
        .row.align-items-center
          .col-lg-6.order-lg-2
            / Heading
            %h3.display-4 Volunteers
            / Creating a table for the Volunteers
            %table.table
              %thead.thead-light
                / Columns with titles
                %tr
                  %th{:scope => "col"} First Name ▼
                  %th{:scope => "col"} Last Name ▼
                  %th{:scope => "col"} Phone Number 📞
              %tbody
                -x,y = Db_queries.coach_all_names_phones
                - x.each do |vol|
                  / Rows with information from the database
                  %tr
                    //%td= User.find_by_id(coach.user_id).where(:role_id => 7).first_name
                    %td= vol.f_name
                    %td= vol.l_name
                    %td= vol.phone
          .col-lg-6.order-lg-1
            / Heading
            %h3.display-4 Run Leaders
            / Creating a table for Run Leaders
            %table.table
              %thead.thead-dark
                / Columns with titles
                %tr
                  %th{:scope => "col"} First Name ▼
                  %th{:scope => "col"} Last Name ▼
                  %th{:scope => "col"} Phone Number 📞
              %tbody
              - y.each do |rl|
                / Rows with information from the database
                %tr
                  //%td= User.find_by_id(coach.user_id).where(:role_id => 7).first_name
                  %td= rl.f_name
                  %td= rl.l_name
                  %td= rl.phone
    / End of section
    / Footer
    = render "layouts/footer"
    / End of footer
