/ Form used to add and edit emergency contacts
-# frozen_string_literal: true
= simple_form_for(@emergency_contact) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  / Field inputs
  .form-inputs
    / Child
    = f.association :child, collection: Child.accessible_by(current_ability)
    / Phone number for an emergency
    = f.input :phone
    / The relationship between the child the owner of the Phone number
    = f.input :relationship

  / Submit the changes
  .form-actions
    = f.button :submit, {:style => "color: black", :class => "btn"}
