!!!
-# Select user from search results view
%html{:lang => "en"}
  %head
  %title Search results
  %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
    = stylesheet_link_tag    "sign_up", media: :all
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    -# Logout navbar
    %nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
      .container
        %a.navbar-brand{:href => "/"} Hope Valley Action Sports
        %ul.navbar-nav.ml-auto
          %li.nav-item
            %li{:id => "navbar-logout"}
              = link_to destroy_user_session_path, method: :delete, title: "Log out of the system" do
                = fa_icon 'sign-out', text: 'Log out'
    %br
    %br
    %br
    %h2{style: 'text-align:center'} Search results for: '#{@user}' (#{@users.length})
    .signup-form
      - @users.each do |user|
        = simple_form_for :recipent, url: message_user_path, method: :post do |f|
          %tr
            %td
            = f.label :expiration, user.first_name, :style => "font-size:25px"
            = f.label :expiration, user.last_name, :style => "font-size:25px"
            %hr/
            = Role.find(user.user_roles.first.role_id).role_name
            %p
            = user.email
            %br
            %br
            -# Hidden field to pass user_id to controller for next view
            = f.hidden_field :user_id, :value => user.id
            = f.button :submit, "Send email to recipent", id: user.first_name + user.last_name, :style => "background-color:black;color:white"
