/ Form for Injury Records
-# frozen_string_literal: true
= simple_form_for(@injury_record) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  / Input fields
  .form-inputs
    = f.association :child, collection: Child.accessible_by(current_ability)
    = f.input :injury
    / Parent notified, thickbox displayed
    = f.input :parent_notified
    = f.association :schedule, collection: Schedule.accessible_by(current_ability, :helper)

  / Submit changes by a butoon click
  .form-actions
    = f.button :submit
